.settingsMenu {
  position: relative;
}

.settings {
  position: fixed;
  right: calc(3px + 2vw);
  top: calc(3px + 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}


.nav {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  z-index: 50;
  transition: left 0.3s;
}

.openNav {
  left: 0;
}

.nav img {
  display: block;
  width: 50%;
  max-width: 100px;
  margin: 0px auto 50px;
}

.toggleButtons {
  margin-top: 0px;
  padding: 0 20px;
}

/* Mobile-specific styles - large screens */
@media (min-width: 415px) and (max-width: 828px) {
  .nav {
    padding-top: 0px;
  }
}

/* Medium mobile screens */
@media (min-width: 376px) and (max-width: 414px) {
  .nav {
    padding-top: 25px;
  }
}

/* Smaller mobile screens */
@media (max-width: 375px) {
  .nav {
    padding-top: 0px;
  }

  .nav img {
    margin: 30px auto 20px;
  }

}
