.currencyinput div {
  border-bottom: black 1px solid;
  margin-top: 1rem;
  padding: 0.5rem 0 0 0;
  width: 100%;
}

.currencyinput input {
  background: orange;
  text-align: center;
  font-size: 1.4rem;
  border: none;
  padding-bottom: 0.4rem;
  margin-top: 1rem;
}

.currencyinput input:focus {
  text-align: center;
  outline: none;
  font-size: 3rem;
  /* transition-duration: 150ms; */
}

.currencyinput label {
  color: darkslategrey;
  font-size: 1.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  margin: 0rem 0rem 0rem 1rem;
}
